* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 100vw;
}

header {
  background-color: #121214;
  border-bottom: 1px solid #29292e;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5rem;
}

header .imgLogo {
  display: flex;
  align-items: center;
}

header > .imgLogo > img {
  max-width: 100%;
  max-height: 100%;
}

header > .imgLogo > p {
  color: #fff;
  font-size: 20px;
  font-family: "Black Ops One", cursive;
}

.icon-with-margin {
  /* Ajuste necessario na classe icones*/
  display: flex;
  align-items: center;
  justify-content: center;
}

header > .icons > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  list-style-type: none;
}

header > .icons > ul > li > a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding: 0 10px;
}

.principal-section {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(128, 128, 128);
  width: 100%;
  height: 400px;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-size: cover;
}

.principal-section > .section-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.principal-section .section-filter .section-content {
  flex: 1;
  color: #fff;
}

.principal-section .section-filter .section-content > h1 {
  padding-bottom: 16px;
  font-size: 50px;
}

.principal-section .section-filter .section-content button {
  padding: 10px 20px;
  margin: 16px 0;
  background-color: #8b66e2;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  box-shadow: 0px 3px 5px rgb(0, 0, 0);
  cursor: pointer;
}

.principal-section .section-filter .section-content button:hover {
  background-color: #9679da;
}

.benefits-section > .benefits-area {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.benefits-area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.benefits-area > .benefits-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  height: 100px;
}

.benefits-area > .benefits-content:nth-child(2) {
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
}

.benefits-area > .benefits-content > p {
  padding-top: 40px;
  font-size: 20px;
}

.plans-section {
  background-color: #121214;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.plans-section > h2 {
  color: #fff;
  margin: 20px 0;
}

.plans-section .plans-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans-section .plans-content {
  background-color: #fff;
  margin: 15px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 20%;
  height: 230px;
  text-align: center;
}

.plans-section .plans-content p {
  color: #2d2d2d;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

.plans-section .plans-content ul {
  list-style: none;
}

.plans-section .plans-content button {
  margin-top: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #4863f7;
  border: none;
  font-size: 16px;
  color: #2d2d2d;
  font-weight: 600;
  box-shadow: 0px 2px 3px rgb(0, 0, 0);
  cursor: pointer;
}

.plans-section .plans-content:nth-child(2) {
  background-color: #8b66e2;
  width: 25%;
  height: 280px;
  color: #fff;
}

.plans-section .plans-content:nth-child(2) p {
  font-size: 32px;
  color: #fff;
}

.plans-section .plans-content:nth-child(2) button {
  font-size: 18px;
  color: #fff;
  border: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #121214;
  background-color: #8b66e2;
}

.plans-section .plans-content:nth-child(2) button:hover {
  background-color: #121214;
  color: #fff;
}

.product-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #8b66e2;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 40px;
}

.product-description > p {
  font-size: 24px;
  font-weight: bold;
}

.product-description > span {
  font-size: 20px;
}

.product-item > p {
  font-size: 20px;
}

.product-item > p > span {
  font-size: 24px;
  font-weight: bold;
}

.product-area .product-description,
.product-area .product-item {
  flex: 1;
  text-align: center;
}

.product-area > img {
  width: 150px;
  height: auto;
}

footer .icon-waths {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 35%;
  background: #04d361;
  bottom: 20px; /* Distância do rodapé */
  right: 20px; /* Distância do lado direito */
  z-index: 999;
}

.footer {
  background-color: #121214;
  border-radius: 6px;
}

footer > img {
  max-width: 100%;
  max-height: 100%;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 3rem 15rem;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: #ca1f1f;
  color: white;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-left: 44px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: #fff;
}

/* medias */

@media (max-width: 767px) {
  h1 {
    font-size: 34px;
  }

  header {
    display: none;
  }

  .principal-section .section-filter {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .principal-section .section-filter {
    padding: 0 20px;
  }

  .benefits-section {
    flex-direction: column;
    justify-content: center;
  }
  .benefits-section .benefits-area {
    padding: 10px 0;
  }
  .benefits-section .benefits-area:nth-child(2) {
    border: none;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
  }

  .plans-area {
    flex-direction: column;
    width: 100%;
  }

  .plans-section {
    background-color: #121214;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }

  .plans-section > h2 {
    color: #fff;
    margin-top: 0;
    padding: 10px 0;
  }
  .plans-section .plans-content,
  .plans-section .plans-content:nth-child(2) {
    width: 100%;
    border-radius: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .product-area {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-area .product-description {
    display: none;
  }

  .product-area .product-item span {
    font-size: 25px;
  }

  .location-area-content {
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }

  .location-area button {
    font-size: 14px;
    padding: 15px 10px;
  }

  .location-area-content {
    margin-top: -20px;
  }

  .location-area .location-info {
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 10px;
    gap: 1rem;
  }

  .footer-hidden {
    display: none;
  }

  footer .icon-waths {
    display: none;
  }
}
